$hud-color-light: rgb(246,160,25);
$hud-color-normal: rgb(225,132,39);
$hud-color-dark: rgb(158,67,14);
$hud-color-bg: rgb(82,23,5);
$hud-color-alert-light: rgb(241,72,103);
$hud-color-alert-normal: rgb(162,39,57);
$hud-color-alert-dark: rgb(55,7,7);
$hud-color-highlight: rgb(162,205,237);
$hud-color-highlight-dark: rgb(101,145,184);