.pitch {
    width: 50%;
    max-width: 640px;
    margin: 25vh auto;
    overflow: hidden;
    height: 50%;

    .boxed-value {
        position: absolute;
        top: 50%;
        margin-top: -19px;
        margin-left: 29px;

        + i.material-icons {
            position: absolute;
            top: 50%;
            margin-top: -18px;
            margin-left: 77px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: -1360px 0 0 100px;
        position: absolute;
        width: 40vw;
        max-width: 518px;
        top: 50%;

        li {
            @extend .strong-font;

            height: 18px;
            margin-top: -3px;

            .zero {
                border: 1px solid $hud-color-dark; 
                position: absolute;
                width: calc(100% - 68px);
                left: 32px;
                margin-top: -6px;
            }

            .number {
                font-size: 1.4em;
            }

            .left {
                float: left;
                display: block;

                .number {
                    float: left;
                    padding: 0 3px;
                    margin: -3px 14px 0px -1px;
                    text-align: right;
                    width: 14px;
                }
            }

            .right {
                float: right;

                .number {
                    float: right;
                    padding: 0 3px;
                    margin: -2px 12px 0 1px;
                    text-align: left;
                    width: 14px;
                }
            }

            .clear {
                clear: both;
            }

            .tick {
                font-size: 1.0em;
                padding: 0 33px;

                &::after {
                    content: '-';
                }
            }

            .largeTick {
                font-size: 1.0em;
                
                &::after {
                    content: '-';
                }
            }
        }
    }
}