div.pitch#pitch
    div.boxed-value#current-pitch  --
    i.material-icons send
    - var n = 90;
    ul#pitch-container
        while n >= -90
            li
                if (n%5==0)
                    div.left
                        span.number= n
                        span.largeTick
                    div.right
                        span.largeTick
                        span.number= n
                        if(n==0)
                            div.zero
                else 
                    div.left
                        span.tick
                    div.right
                        span.tick
                div.clear
            - n--;